{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @media(min-width:768px){
            #login-col { padding-top: 150px }
        }
        @media(min-width:992px){
            #login-col { padding-top: 200px }
        }

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="login-col" class="col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
            <h1>{{ 'layout.login' | trans }}</h1>
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="form-group">
                    <label for="username">{{ 'security.login.username' | trans }}</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" autocomplete="username" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'security.login.password' | trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control" required="required" autocomplete="current-password" />
                </div>

                <div class="form-group">
                    <label class="checkbox" for="remember_me">
                        <input type="checkbox" value="" id="remember_me" data-toggle="checkbox">
                        {{ 'security.login.remember_me' | trans }}
                    </label>
                </div>

                {% if error %}
                    <div class="alert alert-warning">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
                {% endif %}

                <button type="submit" id="_submit" class="btn btn-primary" name="_submit">{{ 'security.login.submit' | trans }}</button>
                <a type="button" class="btn btn-link" href="{{ path('fos_user_registration_register') }}">{{ 'security.login.noAccount' | trans }}</a>
            </form>
        </div>
    </div>
{% endblock %}